[Desktop Entry]
Encoding=UTF-8
Name=Link to Logo_Jardiniers_de_France.JPG
Type=Link
URL=http://www.semaine-sans-pesticides.com/images/logo/Logo_Jardiniers_de_France.JPG
Icon=image-jpeg
